@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #05060b;
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}
